/**index.wxss**/
page {
  background-color: #f1f1f1;
}

.container {
  margin: 30rpx;
  color: #666;

  .yiyan{
    background-color: #fff;
    border-radius: 6rpx;
    padding: 20rpx;

    .yiyan-title {
      padding-top: 20rpx;
    }

    .yiyan-text {
      padding-top: 20rpx;
      text-indent: 1em;
    }

  }

  .remind-box {
    .remind-img{
      width: 250rpx;
     height: 250rpx;
     padding-bottom: 25rpx;
    }
  }
}

